In [2]:
# MITx 15.071xThe Analytics Edge
# Unit 1 Assignment 1 Exercise 3: Demographics and Employment in the United States

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
%matplotlib inline

In [70]:
os.chdir("E:\\eDX - Analytics Edge\\Unit 1\\")

In [71]:
CPS = pd.read_csv("CPSData.csv")

In [6]:
# Problem 1.1 - Loading and Summarizing the Dataset
# How many interviewees are in the dataset?
CPS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131302 entries, 0 to 131301
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   PeopleInHousehold   131302 non-null  int64
 1   Region              131302 non-null  object
 2   State               131302 non-null  object
 3   MetroAreaCode       97064 non-null   float64
 4   Age                 131302 non-null  int64
 5   Married             105964 non-null  object
 6   Sex                 131302 non-null  object
 7   Education           105964 non-null  object
 8   Race                131302 non-null  object
 9   Hispanic            131302 non-null  int64
 10  CountryOfBirthCode  131302 non-null  int64
 11  Citizenship         131302 non-null  object
 12  EmploymentStatus    105513 non-null  object
 13  Industry            66242 non-null   object
dtypes: float64(1), int64(4), object(9)
memory usage: 14.0+ MB

In [7]:
# Problem 1.2 - Loading and Summarizing the Dataset
# Among the interviewees with a value reported for the Industry variable, what is the most common industry of employment? \
# Please enter the name exactly how you see it.
CPS["Industry"].value_counts()

Educational and health services                15017
Trade                                           8933
Professional and business services              7519
Manufacturing                                   6791
Leisure and hospitality                         6364
Construction                                    4387
Financial                                       4347
Transportation and utilities                    3260
Other services                                  3224
Public administration                           3186
Information                                     1328
Agriculture, forestry, fishing, and hunting     1307
Mining                                           550
Armed forces                                      29
Name: Industry, dtype: int64

In [8]:
# Problem 1.3 - Loading and Summarizing the Dataset
# Which state has the fewest interviewees?
CPS["State"].value_counts()

California              11570
Texas                    7077
New York                 5595
Florida                  5149
Pennsylvania             3930
Illinois                 3912
Ohio                     3678
Maryland                 3200
Minnesota                3139
Michigan                 3063
Virginia                 2953
Colorado                 2925
Connecticut              2836
Georgia                  2807
Wisconsin                2686
New Hampshire            2662
North Carolina           2619
New Jersey               2567
Iowa                     2528
Washington               2366
Maine                    2263
Delaware                 2214
Rhode Island             2209
Missouri                 2145
Hawaii                   2099
Indiana                  2004
South Dakota             2000
Massachusetts            1987
Nebraska                 1949
Oregon                   1943
Kansas                   1935
Vermont                  1890
Nevada                   1856
Utah                     1842
Kentucky                 1841
District of Columbia     1791
Tennessee                1784
South Carolina           1658
North Dakota             1645
Wyoming                  1624
Alaska                   1590
Arizona                  1528
Oklahoma                 1523
Idaho                    1518
Louisiana                1450
Arkansas                 1421
West Virginia            1409
Alabama                  1376
Mississippi              1230
Montana                  1214
New Mexico               1102
Name: State, dtype: int64

In [9]:
# Problem 1.4 - Loading and Summarizing the Dataset
# What proportion of interviewees are citizens of the United States?
CPS["Citizenship"].value_counts(normalize=True)

Citizen, Native         0.888326
Non-Citizen             0.057806
Citizen, Naturalized    0.053868
Name: Citizenship, dtype: float64

In [10]:
# Problem 1.4 - Loading and Summarizing the Dataset
# The CPS differentiates between race (with possible values American Indian, Asian, Black, Pacific Islander, White, or \
# Multiracial) and ethnicity. A number of interviewees are of Hispanic ethnicity, as captured by the Hispanic variable.\
# For which races are there at least 250 interviewees in the CPS dataset of Hispanic ethnicity? (Select all that apply.)
CPS.Race[CPS["Hispanic"] == 1].value_counts() >= 250

White                True
Black                True
Multiracial          True
American Indian      True
Asian               False
Pacific Islander    False
Name: Race, dtype: bool

In [11]:
# Problem 2.1 - Evaluating Missing Values
# Which variables have at least one interviewee with a missing (NA) value? (Select all that apply.)
CPS.columns[CPS.isna().any()]

Index(['MetroAreaCode', 'Married', 'Education', 'EmploymentStatus',
       'Industry'],
      dtype='object')

In [12]:
# Problem 2.2 - Evaluating Missing Values
CPS.Region[CPS.Married.isna()]

13        South
14        South
17        South
27        South
34        South
          ...
131281     West
131282     West
131295     West
131296     West
131301     West
Name: Region, Length: 25338, dtype: object

In [13]:
CPS.Sex[pd.isna(CPS.Married)].value_counts()

Male      13121
Female    12217
Name: Sex, dtype: int64

In [14]:
CPS.Age[CPS.Married.isna()].value_counts()

13    1802
12    1797
5     1795
14    1790
10    1750
9     1748
8     1729
11    1721
6     1721
4     1695
3     1693
7     1681
2     1574
1     1559
0     1283
Name: Age, dtype: int64

In [15]:
CPS.Citizenship[CPS.Married.isna()].value_counts()

Citizen, Native         24683
Non-Citizen               492
Citizen, Naturalized      163
Name: Citizenship, dtype: int64

In [16]:
#pd.pivot_table(data=CPS, index= CPS.Married.isna())
#CPS.pivot_table(index = CPS.Married.isna(), columns = 'Age', values='Region',aggfunc='count').transpose()
#CPS.pivot_table(index ='Age',columns = CPS.Married.isna(), values='Region' , aggfunc='count')
#CPS.Region.groupby(CPS["Married"].isna()).value_counts()
CPS.Married.isna().groupby(CPS.Age).value_counts()

Age  Married
0    True       1283
1    True       1559
2    True       1574
3    True       1693
4    True       1695
                ...
77   False       698
78   False       659
79   False       661
80   False      2664
85   False      2446
Name: Married, Length: 82, dtype: int64

In [17]:
#CPS.MetroAreaCode.isna().groupby(CPS.State).value_counts()
#CPS.pivot_table(index=CPS.MetroAreaCode.isna(), columns = CPS.State, aggfunc='count').transpose()
#CPS.pivot_table(columns=CPS.MetroAreaCode.isna(), index = CPS.State, values = CPS.Age, aggfunc='count')
pd.set_option('display.max_rows', 100)
CPS.MetroAreaCode.isna().groupby(CPS.State).sum()

State
Alabama                  356
Alaska                  1590
Arizona                  201
Arkansas                 697
California               237
Colorado                 380
Connecticut              243
Delaware                 518
District of Columbia       0
Florida                  202
Georgia                  557
Hawaii                   523
Idaho                    757
Illinois                 439
Indiana                  584
Iowa                    1231
Kansas                   701
Kentucky                 933
Louisiana                234
Maine                   1354
Maryland                 222
Massachusetts            129
Michigan                 546
Minnesota                989
Mississippi              854
Missouri                 705
Montana                 1015
Nebraska                1133
Nevada                   247
New Hampshire           1514
New Jersey                 0
New Mexico               270
New York                 451
North Carolina           977
North Dakota            1213
Ohio                     924
Oklahoma                 499
Oregon                   424
Pennsylvania             685
Rhode Island               0
South Carolina           519
South Dakota            1405
Tennessee                635
Texas                   1017
Utah                     387
Vermont                 1233
Virginia                 586
Washington               429
West Virginia           1065
Wisconsin                804
Wyoming                 1624
Name: MetroAreaCode, dtype: int64

In [18]:
# Problem 2.3 - Evaluating Missing Values
# Question 1 : How many states had all interviewees living in a non-metropolitan area (aka they have a missing MetroAreaCode \
# value)? For this question, treat the District of Columbia as a state (even though it is not technically a state).
df = CPS.MetroAreaCode.isna().groupby(CPS.State).sum().astype(int).reset_index(name='count')
df.State[df["count"] == 0]

8     District of Columbia
30              New Jersey
39            Rhode Island
Name: State, dtype: object

In [19]:
# Problem 2.3 - Evaluating Missing Values
# Question 2 : How many states had all interviewees living in a metropolitan area? Again, treat the District of Columbia \ 
# as a state.

df2 = CPS.MetroAreaCode.notna().groupby(CPS.State).sum().astype(int).reset_index(name='count')
df2[df2["count"] == 0]

      State  count
1    Alaska      0
50  Wyoming      0

In [20]:
# Problem 2.4 - Evaluating Missing Values
# Which region of the United States has the largest proportion of interviewees living in a non-metropolitan area?
CPS.MetroAreaCode.isna().groupby(CPS.Region).sum()

Region
Midwest      10674
Northeast     5609
South         9871
West          8084
Name: MetroAreaCode, dtype: int64

In [21]:
# Problem 2.5 - Evaluating Missing Values
# To solve 2.5, Prepare dataframe before answering  questions
df3 = CPS.MetroAreaCode.isna().groupby(CPS.State).value_counts(normalize=True).astype("float").reset_index(name='count')
df3

                   State  MetroAreaCode     count
0                Alabama          False  0.741279
1                Alabama           True  0.258721
2                 Alaska           True  1.000000
3                Arizona          False  0.868455
4                Arizona           True  0.131545
5               Arkansas          False  0.509500
6               Arkansas           True  0.490500
7             California          False  0.979516
8             California           True  0.020484
9               Colorado          False  0.870085
10              Colorado           True  0.129915
11           Connecticut          False  0.914316
12           Connecticut           True  0.085684
13              Delaware          False  0.766034
14              Delaware           True  0.233966
15  District of Columbia          False  1.000000
16               Florida          False  0.960769
17               Florida           True  0.039231
18               Georgia          False  0.801568
19               Georgia           True  0.198432
20                Hawaii          False  0.750834
21                Hawaii           True  0.249166
22                 Idaho          False  0.501318
23                 Idaho           True  0.498682
24              Illinois          False  0.887781
25              Illinois           True  0.112219
26               Indiana          False  0.708583
27               Indiana           True  0.291417
28                  Iowa          False  0.513054
29                  Iowa           True  0.486946
30                Kansas          False  0.637726
31                Kansas           True  0.362274
32              Kentucky           True  0.506790
33              Kentucky          False  0.493210
34             Louisiana          False  0.838621
35             Louisiana           True  0.161379
36                 Maine           True  0.598321
37                 Maine          False  0.401679
38              Maryland          False  0.930625
39              Maryland           True  0.069375
40         Massachusetts          False  0.935078
41         Massachusetts           True  0.064922
42              Michigan          False  0.821743
43              Michigan           True  0.178257
44             Minnesota          False  0.684932
45             Minnesota           True  0.315068
46           Mississippi           True  0.694309
47           Mississippi          False  0.305691
48              Missouri          False  0.671329
49              Missouri           True  0.328671
50               Montana           True  0.836079
51               Montana          False  0.163921
52              Nebraska           True  0.581324
53              Nebraska          False  0.418676
54                Nevada          False  0.866918
55                Nevada           True  0.133082
56         New Hampshire           True  0.568745
57         New Hampshire          False  0.431255
58            New Jersey          False  1.000000
59            New Mexico          False  0.754991
60            New Mexico           True  0.245009
61              New York          False  0.919392
62              New York           True  0.080608
63        North Carolina          False  0.626957
64        North Carolina           True  0.373043
65          North Dakota           True  0.737386
66          North Dakota          False  0.262614
67                  Ohio          False  0.748777
68                  Ohio           True  0.251223
69              Oklahoma          False  0.672357
70              Oklahoma           True  0.327643
71                Oregon          False  0.781781
72                Oregon           True  0.218219
73          Pennsylvania          False  0.825700
74          Pennsylvania           True  0.174300
75          Rhode Island          False  1.000000
76        South Carolina          False  0.686972
77        South Carolina           True  0.313028
78          South Dakota           True  0.702500
79          South Dakota          False  0.297500
80             Tennessee          False  0.644058
81             Tennessee           True  0.355942
82                 Texas          False  0.856295
83                 Texas           True  0.143705
84                  Utah          False  0.789902
85                  Utah           True  0.210098
86               Vermont           True  0.652381
87               Vermont          False  0.347619
88              Virginia          False  0.801558
89              Virginia           True  0.198442
90            Washington          False  0.818681
91            Washington           True  0.181319
92         West Virginia           True  0.755855
93         West Virginia          False  0.244145
94             Wisconsin          False  0.700670
95             Wisconsin           True  0.299330
96               Wyoming           True  1.000000

In [22]:
# Problem 2.5 Question 1
# Which state has a proportion of interviewees living in a non-metropolitan area closest to 30%?
df3[(df3["MetroAreaCode"] == True) & (df3["count"] <= 0.3)].sort_values(by='count', ascending=False).head(1)

        State  MetroAreaCode    count
95  Wisconsin           True  0.29933

In [23]:
# Problem 2.5 Question 2
# Which state has the largest proportion of non-metropolitan interviewees, ignoring states where all interviewees were \
# non-metropolitan?
df3[(df3["MetroAreaCode"] == True) & (df3["count"] < 1.0)].sort_values(by='count', ascending=False).head(1)

      State  MetroAreaCode     count
50  Montana           True  0.836079

In [24]:
# Problem 3.1 - Integrating Metropolitan Area Data
MetroAreaMap  = pd.read_csv("MetroAreaCodes.csv")
CountryMap = pd.read_csv("CountryCodes.csv")

In [25]:
# Problem 3.1 - Integrating Metropolitan Area Data
# Question 1 : How many observations (codes for metropolitan areas) are there in MetroAreaMap?

MetroAreaMap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Code       271 non-null    int64
 1   MetroArea  271 non-null    object
dtypes: int64(1), object(1)
memory usage: 4.4+ KB

In [26]:
# Problem 3.1 - Integrating Metropolitan Area Data
# Question 1 : How many observations (codes for countries) are there in CountryMap?

CountryMap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Code     149 non-null    int64
 1   Country  149 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.5+ KB

In [72]:
# Problem 3.2 - Integrating Metropolitan Area Data
# Prepare dataframe
CPS = CPS.merge(MetroAreaMap, how='left', left_on='MetroAreaCode', right_on='Code',)

In [28]:
# Problem 3.2 - Integrating Metropolitan Area Data
# Question 1: What is the name of the variable that was added to the data frame by the merge() operation?
CPS.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 131302 entries, 0 to 131301
Data columns (total 16 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   PeopleInHousehold   131302 non-null  int64
 1   Region              131302 non-null  object
 2   State               131302 non-null  object
 3   MetroAreaCode       97064 non-null   float64
 4   Age                 131302 non-null  int64
 5   Married             105964 non-null  object
 6   Sex                 131302 non-null  object
 7   Education           105964 non-null  object
 8   Race                131302 non-null  object
 9   Hispanic            131302 non-null  int64
 10  CountryOfBirthCode  131302 non-null  int64
 11  Citizenship         131302 non-null  object
 12  EmploymentStatus    105513 non-null  object
 13  Industry            66242 non-null   object
 14  Code                97064 non-null   float64
 15  MetroArea           97064 non-null   object
dtypes: float64(2), int64(4), object(10)
memory usage: 17.0+ MB

In [29]:
# Problem 3.2 - Integrating Metropolitan Area Data
# Question 2: How many interviewees have a missing value for the new metropolitan area variable?
CPS.MetroAreaCode.isna().value_counts()

False    97064
True     34238
Name: MetroAreaCode, dtype: int64

In [30]:
# Problem 3.3 - Integrating Metropolitan Area Data
pd.set_option('display.max_rows', 1000)

In [31]:
# Question 1 : Which of the following metropolitan areas has the largest number of interviewees?
# Atlanta-Sandy Springs-Marietta, GA
# Baltimore-Towson, MD
# Boston-Cambridge-Quincy, MA-NH
# San Francisco-Oakland-Fremont, CA

CPS.MetroArea.value_counts()

New York-Northern New Jersey-Long Island, NY-NJ-PA    5409
Washington-Arlington-Alexandria, DC-VA-MD-WV          4177
Los Angeles-Long Beach-Santa Ana, CA                  4102
Philadelphia-Camden-Wilmington, PA-NJ-DE              2855
Chicago-Naperville-Joliet, IN-IN-WI                   2772
Providence-Fall River-Warwick, MA-RI                  2284
Boston-Cambridge-Quincy, MA-NH                        2229
Minneapolis-St Paul-Bloomington, MN-WI                1942
Dallas-Fort Worth-Arlington, TX                       1863
Houston-Baytown-Sugar Land, TX                        1649
Honolulu, HI                                          1576
Miami-Fort Lauderdale-Miami Beach, FL                 1554
Atlanta-Sandy Springs-Marietta, GA                    1552
Denver-Aurora, CO                                     1504
Baltimore-Towson, MD                                  1483
San Francisco-Oakland-Fremont, CA                     1386
Detroit-Warren-Livonia, MI                            1354
Las Vegas-Paradise, NV                                1299
Riverside-San Bernardino, CA                          1290
Seattle-Tacoma-Bellevue, WA                           1255
Portland-Vancouver-Beaverton, OR-WA                   1089
Phoenix-Mesa-Scottsdale, AZ                            971
Kansas City, MO-KS                                     962
Omaha-Council Bluffs, NE-IA                            957
St. Louis, MO-IL                                       956
San Diego-Carlsbad-San Marcos, CA                      907
Hartford-West Hartford-East Hartford, CT               885
Tampa-St. Petersburg-Clearwater, FL                    842
Pittsburgh, PA                                         732
Bridgeport-Stamford-Norwalk, CT                        730
Salt Lake City, UT                                     723
Cincinnati-Middletown, OH-KY-IN                        719
Milwaukee-Waukesha-West Allis, WI                      714
Portland-South Portland, ME                            701
Cleveland-Elyria-Mentor, OH                            681
San Jose-Sunnyvale-Santa Clara, CA                     670
Sacramento-Arden-Arcade-Roseville, CA                  667
Burlington-South Burlington, VT                        657
Boise City-Nampa, ID                                   644
Orlando, FL                                            610
Albuquerque, NM                                        609
San Antonio, TX                                        607
Oklahoma City, OK                                      604
Virginia Beach-Norfolk-Newport News, VA-NC             597
Sioux Falls, SD                                        595
Indianapolis, IN                                       570
Columbus, OH                                           551
Louisville, KY-IN                                      519
Charlotte-Gastonia-Concord, NC-SC                      517
Austin-Round Rock, TX                                  516
New Haven, CT                                          506
Nashville-Davidson-Murfreesboro, TN                    505
Des Moines, IA                                         501
Richmond, VA                                           490
Dover, DE                                              456
Fargo, ND-MN                                           432
Wichita, KS                                            427
Ogden-Clearfield, UT                                   423
Little Rock-North Little Rock, AR                      404
Jacksonville, FL                                       393
Birmingham-Hoover, AL                                  392
Colorado Springs, CO                                   372
New Orleans-Metairie-Kenner, LA                        367
Memphis, TN-MS-AR                                      348
Buffalo-Niagara Falls, NY                              344
Raleigh-Cary, NC                                       336
Allentown-Bethlehem-Easton, PA-NJ                      334
Tulsa, OK                                              323
Reno-Sparks, NV                                        310
Provo-Orem, UT                                         309
Rochester, NY                                          307
Grand Rapids-Wyoming, MI                               304
Fresno, CA                                             303
Tucson, AZ                                             302
Columbia, SC                                           291
Madison, WI                                            284
Albany-Schenectady-Troy, NY                            268
Dayton, OH                                             268
Oxnard-Thousand Oaks-Ventura, CA                       267
Charleston, WV                                         262
Baton Rouge, LA                                        262
Rochester-Dover, NH-ME                                 262
Greensboro-High Point, NC                              251
Bakersfield, CA                                        245
El Paso, TX                                            244
Davenport-Moline-Rock Island, IA-IL                    240
Toledo, OH                                             235
Charleston-North Charleston, SC                        232
Akron, OH                                              231
Syracuse, NY                                           223
Jackson, MS                                            222
Fayetteville-Springdale-Rogers, AR-MO                  215
Bangor, ME                                             208
Fort Collins-Loveland, CO                              206
Norwich-New London, CT-RI                              203
Savannah, GA                                           202
Poughkeepsie-Newburgh-Middletown, NY                   201
Billings, MT                                           199
Lexington-Fayette, KY                                  198
Cedar Rapids, IA                                       196
Eugene-Springfield, OR                                 196
McAllen-Edinburg-Pharr, TX                             195
Stockton, CA                                           193
Sarasota-Bradenton-Venice, FL                          192
Durham, NC                                             189
Greenville, SC                                         185
Topeka, KS                                             182
Lafayette, LA                                          181
Monroe, LA                                             179
Scranton-Wilkes Barre, PA                              176
Harrisburg-Carlisle, PA                                174
Boulder, CO                                            171
Salem, OR                                              170
Knoxville, TN                                          168
Palm Bay-Melbourne-Titusville, FL                      168
Chattanooga, TN-GA                                     167
Greeley, CO                                            162
Springfield, MO                                        161
Augusta-Richmond County, GA-SC                         161
Modesto, CA                                            158
Waterbury, CT                                          157
Lancaster, PA                                          156
Waterloo-Cedar Falls, IA                               156
Spokane, WA                                            156
Springfield, MA-CT                                     155
Youngstown-Warren-Boardman, OH                         153
Lakeland-Winter Haven, FL                              149
Cape Coral-Fort Myers, FL                              146
Shreveport-Bossier City, LA                            146
Worcester, MA-CT                                       144
Reading, PA                                            142
Bend, OR                                               140
Deltona-Daytona Beach-Ormond Beach, FL                 140
Fort Wayne, IN                                         136
Green Bay, WI                                          136
Vallejo-Fairfield, CA                                  133
Corpus Christi, TX                                     132
Santa Barbara-Santa Maria-Goleta, CA                   132
Iowa City, IA                                          131
Pueblo, CO                                             130
Santa Rosa-Petaluma, CA                                129
Kalamazoo-Portage, MI                                  127
Winston-Salem, NC                                      127
Duluth, MN-WI                                          126
Appleton,WI                                            125
Beaumont-Port Author, TX                               123
Champaign-Urbana, IL                                   122
Visalia-Porterville, CA                                121
Lansing-East Lansing, MI                               119
Racine, WI                                             119
Canton-Massillon, OH                                   118
Coeur d'Alene, ID                                      117
York-Hanover, PA                                       117
Huntsville, AL                                         117
Asheville, NC                                          116
Victoria, TX                                           116
La Crosse, WI                                          114
Rockford, IL                                           114
Peoria, IL                                             112
Danbury, CT                                            112
Yakima, WA                                             112
Atlantic City, NJ                                      111
Eau Claire, WI                                         110
Mobile, AL                                             110
Port St. Lucie-Fort Pierce, FL                         109
Pensacola-Ferry Pass-Brent, FL                         107
Las Cruses, NM                                         107
Merced, CA                                             106
Fort Smith, AR-OK                                      105
Salinas, CA                                            104
Bloomington, IN                                        104
Montgomery, AL                                         103
Myrtle Beach-Conway-North Myrtle Beach, SC             102
Flint, MI                                              102
Killeen-Temple-Fort Hood, TX                           101
Evansville, IN-KY                                       99
El Centro, CA                                           99
Janesville, WI                                          99
Olympia, WA                                             99
Spartanburg, SC                                         99
Lawrence, KS                                            98
Lawton, OK                                              97
Wausau, WI                                              96
Decatur, Al                                             96
Trenton-Ewing, NJ                                       91
Muskegon-Norton Shores, MI                              90
Harrisonburg, VA                                        90
Laredo, TX                                              89
Amarillo, TX                                            88
Kingston, NY                                            87
Bremerton-Silverdale, WA                                87
Erie, PA                                                87
Kankakee-Bradley, IL                                    87
Hagerstown-Martinsburg, MD-WV                           86
Oshkosh-Neenah, WI                                      85
Ann Arbor, MI                                           85
Medford, OR                                             82
Huntington-Ashland, WV-KY-OH                            82
Altoona, PA                                             82
St. Cloud, MN                                           82
Naples-Marco Island, FL                                 82
South Bend-Mishawaka, IN-MI                             81
Decatur, IL                                             81
Lake Charles, LA                                        81
Fort Walton Beach-Crestview-Destin, FL                  80
Utica-Rome, NY                                          80
Brownsville-Harlingen, TX                               79
Vero Beach, FL                                          79
Waco, TX                                                79
Tuscaloosa, AL                                          78
Holland-Grand Haven, MI                                 78
San Luis Obispo-Paso Robles, CA                         77
Michigan City-La Porte, IN                              77
Fayetteville, NC                                        77
Springfield, IL                                         76
Ocala, FL                                               76
Barnstable Town, MA                                     75
Salisbury, MD                                           74
Saginaw-Saginaw Township North, MI                      74
Lynchburg, VA                                           73
Binghamton, NY                                          73
Gainesville, FL                                         70
Bellingham, WA                                          70
Jackson, MI                                             70
Albany, GA                                              68
Kingsport-Bristol, TN-VA                                67
Roanoke, VA                                             66
Leominster-Fitchburg-Gardner, MA                        66
Santa-Cruz-Watsonville, CA                              66
Longview, TX                                            65
Athens-Clark County, GA                                 65
Gulfport-Biloxi, MS                                     65
Macon, GA                                               65
Anderson, SC                                            64
Farmington, NM                                          64
Lubbock, TX                                             63
Monroe, MI                                              63
Florence, AL                                            63
Johnstown, PA                                           63
Jacksonville, NC                                        63
Anderson, IN                                            62
Napa, CA                                                61
Anniston-Oxford, AL                                     61
Chico, CA                                               60
Columbus, GA-AL                                         59
Joplin, MO                                              59
Panama City-Lynn Haven, FL                              59
Madera, CA                                              57
Hickory-Morgantown-Lenoir, NC                           57
Vineland-Millville-Bridgeton, NJ                        54
Prescott, AZ                                            54
Santa Fe, NM                                            52
Johnson City, TN                                        52
Niles-Benton Harbor, MI                                 51
Midland, TX                                             51
Punta Gorda, FL                                         48
Columbia, MO                                            47
Tallahassee, FL                                         43
Warner Robins, GA                                       42
Valdosta, GA                                            42
Bloomington-Normal IL                                   40
Springfield, OH                                         34
Ocean City, NJ                                          30
Bowling Green, KY                                       29
Name: MetroArea, dtype: int64

In [32]:
# Problem 3.4 - Integrating Metropolitan Area Data
# Which metropolitan area has the highest proportion of interviewees of Hispanic ethnicity? 

CPS.groupby("MetroArea")["Hispanic"].mean().sort_values(ascending=False).head(1)

MetroArea
Laredo, TX    0.966292
Name: Hispanic, dtype: float64

In [51]:
# Problem 3.5 - Integrating Metropolitan Area Data
# determine the number of metropolitan areas in the United States from which at least 20% of interviewees are Asian.
# 1st way of solving this problem
(CPS.MetroArea[CPS["Race"] == "Asian"].value_counts() * 100 / CPS.MetroArea.value_counts()).sort_values(ascending=False).head(5)

Honolulu, HI                          50.190355
San Francisco-Oakland-Fremont, CA     24.675325
San Jose-Sunnyvale-Santa Clara, CA    24.179104
Vallejo-Fairfield, CA                 20.300752
Fresno, CA                            18.481848
Name: MetroArea, dtype: float64

In [52]:
# 2nd way of solving this problem 3.5

temp_df = CPS.groupby("MetroArea")["Race"].value_counts(normalize=True)
temp_df.loc[temp_df.index.get_level_values("Race") == "Asian"].mul(100).astype(int).astype(str) + " %"

MetroArea                                           Race
Akron, OH                                           Asian     3 %
Albany-Schenectady-Troy, NY                         Asian     2 %
Albuquerque, NM                                     Asian     4 %
Allentown-Bethlehem-Easton, PA-NJ                   Asian     1 %
Anderson, SC                                        Asian     3 %
Ann Arbor, MI                                       Asian     8 %
Anniston-Oxford, AL                                 Asian     4 %
Athens-Clark County, GA                             Asian     3 %
Atlanta-Sandy Springs-Marietta, GA                  Asian     7 %
Atlantic City, NJ                                   Asian    14 %
Augusta-Richmond County, GA-SC                      Asian     2 %
Austin-Round Rock, TX                               Asian     5 %
Bakersfield, CA                                     Asian     8 %
Baltimore-Towson, MD                                Asian     5 %
Bangor, ME                                          Asian     2 %
Baton Rouge, LA                                     Asian     2 %
Bellingham, WA                                      Asian     2 %
Bend, OR                                            Asian     0 %
Birmingham-Hoover, AL                               Asian     1 %
Bloomington-Normal IL                               Asian     7 %
Boise City-Nampa, ID                                Asian     1 %
Boston-Cambridge-Quincy, MA-NH                      Asian     5 %
Boulder, CO                                         Asian     5 %
Bremerton-Silverdale, WA                            Asian     2 %
Bridgeport-Stamford-Norwalk, CT                     Asian     3 %
Brownsville-Harlingen, TX                           Asian     7 %
Buffalo-Niagara Falls, NY                           Asian     5 %
Burlington-South Burlington, VT                     Asian     4 %
Cape Coral-Fort Myers, FL                           Asian     3 %
Cedar Rapids, IA                                    Asian     6 %
Champaign-Urbana, IL                                Asian     1 %
Charleston-North Charleston, SC                     Asian     0 %
Charlotte-Gastonia-Concord, NC-SC                   Asian     1 %
Chattanooga, TN-GA                                  Asian     0 %
Chicago-Naperville-Joliet, IN-IN-WI                 Asian     5 %
Cincinnati-Middletown, OH-KY-IN                     Asian     2 %
Cleveland-Elyria-Mentor, OH                         Asian     1 %
Coeur d'Alene, ID                                   Asian     0 %
Colorado Springs, CO                                Asian     1 %
Columbia, MO                                        Asian     6 %
Columbia, SC                                        Asian     2 %
Columbus, OH                                        Asian     1 %
Corpus Christi, TX                                  Asian     1 %
Dallas-Fort Worth-Arlington, TX                     Asian     6 %
Danbury, CT                                         Asian     6 %
Davenport-Moline-Rock Island, IA-IL                 Asian     2 %
Dayton, OH                                          Asian     0 %
Decatur, Al                                         Asian     4 %
Deltona-Daytona Beach-Ormond Beach, FL              Asian     2 %
Denver-Aurora, CO                                   Asian     3 %
Des Moines, IA                                      Asian     3 %
Detroit-Warren-Livonia, MI                          Asian     4 %
Dover, DE                                           Asian     1 %
Duluth, MN-WI                                       Asian     3 %
El Centro, CA                                       Asian     2 %
Eugene-Springfield, OR                              Asian     2 %
Evansville, IN-KY                                   Asian     1 %
Fargo, ND-MN                                        Asian     2 %
Fayetteville, NC                                    Asian     2 %
Fayetteville-Springdale-Rogers, AR-MO               Asian     5 %
Flint, MI                                           Asian     1 %
Fort Collins-Loveland, CO                           Asian     1 %
Fort Smith, AR-OK                                   Asian     5 %
Fort Walton Beach-Crestview-Destin, FL              Asian     3 %
Fort Wayne, IN                                      Asian     3 %
Fresno, CA                                          Asian    18 %
Gainesville, FL                                     Asian     4 %
Grand Rapids-Wyoming, MI                            Asian     0 %
Greeley, CO                                         Asian     1 %
Green Bay, WI                                       Asian     8 %
Greensboro-High Point, NC                           Asian     7 %
Greenville, SC                                      Asian     3 %
Gulfport-Biloxi, MS                                 Asian     3 %
Harrisburg-Carlisle, PA                             Asian     1 %
Harrisonburg, VA                                    Asian     3 %
Hartford-West Hartford-East Hartford, CT            Asian     6 %
Hickory-Morgantown-Lenoir, NC                       Asian     3 %
Holland-Grand Haven, MI                             Asian     2 %
Honolulu, HI                                        Asian    50 %
Houston-Baytown-Sugar Land, TX                      Asian     6 %
Huntington-Ashland, WV-KY-OH                        Asian     3 %
Indianapolis, IN                                    Asian     2 %
Iowa City, IA                                       Asian     5 %
Jacksonville, FL                                    Asian     4 %
Jacksonville, NC                                    Asian     4 %
Johnstown, PA                                       Asian     1 %
Kalamazoo-Portage, MI                               Asian     1 %
Kansas City, MO-KS                                  Asian     3 %
Kingston, NY                                        Asian     1 %
La Crosse, WI                                       Asian     8 %
Lake Charles, LA                                    Asian     7 %
Lakeland-Winter Haven, FL                           Asian     2 %
Lancaster, PA                                       Asian     5 %
Las Cruses, NM                                      Asian     1 %
Las Vegas-Paradise, NV                              Asian     7 %
Lawrence, KS                                        Asian     1 %
Lawton, OK                                          Asian     1 %
Lexington-Fayette, KY                               Asian     3 %
Little Rock-North Little Rock, AR                   Asian     2 %
Los Angeles-Long Beach-Santa Ana, CA                Asian    13 %
Louisville, KY-IN                                   Asian     1 %
Madison, WI                                         Asian     5 %
Medford, OR                                         Asian     1 %
Memphis, TN-MS-AR                                   Asian     1 %
Merced, CA                                          Asian     5 %
Miami-Fort Lauderdale-Miami Beach, FL               Asian     3 %
Milwaukee-Waukesha-West Allis, WI                   Asian     4 %
Minneapolis-St Paul-Bloomington, MN-WI              Asian     7 %
Mobile, AL                                          Asian     3 %
Modesto, CA                                         Asian     0 %
Monroe, LA                                          Asian     0 %
Montgomery, AL                                      Asian     2 %
Napa, CA                                            Asian     1 %
Naples-Marco Island, FL                             Asian     2 %
Nashville-Davidson-Murfreesboro, TN                 Asian     5 %
New Haven, CT                                       Asian     4 %
New Orleans-Metairie-Kenner, LA                     Asian     0 %
New York-Northern New Jersey-Long Island, NY-NJ-PA  Asian    10 %
Norwich-New London, CT-RI                           Asian     7 %
Ocala, FL                                           Asian     1 %
Ogden-Clearfield, UT                                Asian     2 %
Oklahoma City, OK                                   Asian     3 %
Olympia, WA                                         Asian    13 %
Omaha-Council Bluffs, NE-IA                         Asian     2 %
Orlando, FL                                         Asian     5 %
Oxnard-Thousand Oaks-Ventura, CA                    Asian     7 %
Palm Bay-Melbourne-Titusville, FL                   Asian     3 %
Panama City-Lynn Haven, FL                          Asian     1 %
Pensacola-Ferry Pass-Brent, FL                      Asian     1 %
Peoria, IL                                          Asian     5 %
Philadelphia-Camden-Wilmington, PA-NJ-DE            Asian     3 %
Phoenix-Mesa-Scottsdale, AZ                         Asian     3 %
Pittsburgh, PA                                      Asian     3 %
Portland-South Portland, ME                         Asian     4 %
Portland-Vancouver-Beaverton, OR-WA                 Asian     6 %
Prescott, AZ                                        Asian     1 %
Providence-Fall River-Warwick, MA-RI                Asian     3 %
Provo-Orem, UT                                      Asian     1 %
Raleigh-Cary, NC                                    Asian     5 %
Reno-Sparks, NV                                     Asian     5 %
Richmond, VA                                        Asian     3 %
Riverside-San Bernardino, CA                        Asian     6 %
Rochester, NY                                       Asian     6 %
Rochester-Dover, NH-ME                              Asian     2 %
Sacramento-Arden-Arcade-Roseville, CA               Asian    14 %
Salinas, CA                                         Asian    12 %
Salt Lake City, UT                                  Asian     3 %
San Antonio, TX                                     Asian     0 %
San Diego-Carlsbad-San Marcos, CA                   Asian    14 %
San Francisco-Oakland-Fremont, CA                   Asian    24 %
San Jose-Sunnyvale-Santa Clara, CA                  Asian    24 %
San Luis Obispo-Paso Robles, CA                     Asian     5 %
Santa Barbara-Santa Maria-Goleta, CA                Asian     0 %
Santa Rosa-Petaluma, CA                             Asian     0 %
Sarasota-Bradenton-Venice, FL                       Asian     1 %
Savannah, GA                                        Asian     1 %
Seattle-Tacoma-Bellevue, WA                         Asian     9 %
Sioux Falls, SD                                     Asian     1 %
Spokane, WA                                         Asian     1 %
Springfield, IL                                     Asian     5 %
Springfield, MO                                     Asian     1 %
St. Louis, MO-IL                                    Asian     0 %
Stockton, CA                                        Asian    15 %
Syracuse, NY                                        Asian     4 %
Tampa-St. Petersburg-Clearwater, FL                 Asian     3 %
Toledo, OH                                          Asian     0 %
Topeka, KS                                          Asian     2 %
Trenton-Ewing, NJ                                   Asian     4 %
Tucson, AZ                                          Asian     1 %
Tulsa, OK                                           Asian     4 %
Vallejo-Fairfield, CA                               Asian    20 %
Virginia Beach-Norfolk-Newport News, VA-NC          Asian     2 %
Visalia-Porterville, CA                             Asian     9 %
Warner Robins, GA                                   Asian    16 %
Washington-Arlington-Alexandria, DC-VA-MD-WV        Asian     7 %
Waterloo-Cedar Falls, IA                            Asian     1 %
Wichita, KS                                         Asian     3 %
Winston-Salem, NC                                   Asian     1 %
Worcester, MA-CT                                    Asian     3 %
Yakima, WA                                          Asian     0 %
York-Hanover, PA                                    Asian     0 %
Youngstown-Warren-Boardman, OH                      Asian     1 %
Name: Race, dtype: object

In [56]:
# 3rd way of solving this problem 3.5
df_asian = CPS.groupby("MetroArea")["Race"].value_counts(normalize=True).astype("float").reset_index(name='count')
df_asian[df_asian["Race"] == "Asian"].sort_values(by="count", ascending=False).head(5)

                              MetroArea   Race     count
402                        Honolulu, HI  Asian  0.501904
834   San Francisco-Oakland-Fremont, CA  Asian  0.246753
840  San Jose-Sunnyvale-Santa Clara, CA  Asian  0.241791
969               Vallejo-Fairfield, CA  Asian  0.203008
342                          Fresno, CA  Asian  0.184818

In [64]:
# Problem 3.6 - Integrating Metropolitan Area Data
#determine which metropolitan area has the smallest proportion of interviewees who have received no high school diploma.
df_edu = CPS.groupby("MetroArea")["Education"].value_counts(normalize=True).astype("float").reset_index(name="Count")
df_edu[df_edu["Education"]=="No high school diploma"].sort_values(by="Count").head(1)

         MetroArea               Education     Count
795  Iowa City, IA  No high school diploma  0.029126

In [74]:
# Problem 4.1 - Integrating Country of Birth Data
CPS = CPS.merge(CountryMap, how='left', left_on='CountryOfBirthCode', right_on='Code')

In [76]:
CPS.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 131302 entries, 0 to 131301
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   PeopleInHousehold   131302 non-null  int64
 1   Region              131302 non-null  object
 2   State               131302 non-null  object
 3   MetroAreaCode       97064 non-null   float64
 4   Age                 131302 non-null  int64
 5   Married             105964 non-null  object
 6   Sex                 131302 non-null  object
 7   Education           105964 non-null  object
 8   Race                131302 non-null  object
 9   Hispanic            131302 non-null  int64
 10  CountryOfBirthCode  131302 non-null  int64
 11  Citizenship         131302 non-null  object
 12  EmploymentStatus    105513 non-null  object
 13  Industry            66242 non-null   object
 14  Code_x              97064 non-null   float64
 15  MetroArea           97064 non-null   object
 16  Code_y              131126 non-null  float64
 17  Country             131126 non-null  object
dtypes: float64(3), int64(4), object(11)
memory usage: 19.0+ MB

In [81]:
# Problem 4.1 - Integrating Country of Birth Data
# How many interviewees have a missing value for the new country of birth variable?
CPS["Country"].isnull().value_counts()

False    131126
True        176
Name: Country, dtype: int64

In [140]:
# Problem 4.2 - Integrating Country of Birth Data
# Among all interviewees born outside of North America, which country was the most common place of birth?
CPS.groupby("Country")["CountryOfBirthCode"].value_counts().sort_values(ascending=False)

Country                         CountryOfBirthCode
United States                   57                    115063
Mexico                          303                     3921
Philippines                     233                      839
India                           210                      770
China                           207                      581
Puerto Rico                     73                       518
El Salvador                     312                      477
Vietnam                         247                      458
Germany                         110                      438
Cuba                            327                      426
Canada                          301                      410
Korea                           217                      334
Dominican Republic              329                      330
Guatemala                       313                      309
Jamaica                         333                      217
Columbia                        364                      206
Honduras                        314                      189
Japan                           215                      187
England                         139                      179
Russia                          163                      173
Haiti                           332                      167
Poland                          128                      162
Brazil                          362                      159
Italy                           120                      149
Iran                            212                      144
Peru                            370                      136
Ecuador                         365                      136
Africa, not specified           462                      129
Thailand                        242                      128
United Kingdom                  138                      111
Guyana                          368                      109
Pakistan                        231                      109
Ukraine                         164                      104
Taiwan                          240                      102
Laos                            223                       98
Iraq                            213                       97
Nigeria                         440                       85
Elsewhere                       555                       81
Ethiopia                        416                       80
Ghana                           421                       76
Nicaragua                       315                       76
South Korea                     220                       73
France                          109                       73
Somalia                         448                       72
Egypt                           414                       65
Hong Kong                       209                       64
Argentina                       360                       64
Portugal                        129                       64
Bosnia & Herzegovina            150                       61
Venezuela                       373                       61
Trinidad and Tobago             341                       60
Israel                          214                       57
Greece                          116                       56
Romania                         132                       55
Kenya                           427                       55
Liberia                         429                       52
Cambodia                        206                       49
Turkey                          243                       48
South Africa                    449                       48
Lebanon                         224                       45
Myanmar (Burma)                 205                       45
Nepal                           229                       44
Panama                          316                       44
Australia                       501                       43
Bangladesh                      202                       42
Spain                           134                       41
Ireland                         119                       39
Asia, not specified             249                       39
Chile                           363                       37
Jordan                          216                       36
Armenia                         158                       35
Cameroon                        407                       32
Syria                           239                       32
Guam                            66                        31
Bulgaria                        104                       29
Saudi Arabia                    235                       29
Costa Rica                      311                       29
Netherlands                     126                       28
Sweden                          136                       28
Indonesia                       211                       26
Afghanistan                     200                       26
Hungary                         117                       25
Yugoslavia                      147                       24
Scotland                        140                       24
Belarus                         160                       24
New Zealand                     515                       23
Yemen                           248                       23
Switzerland                     137                       23
USSR                            165                       22
Azores                          130                       22
Serbia                          154                       20
Malaysia                        226                       20
Europe, not specified           166                       19
Uzbekistan                      246                       19
West Indies, not specified      343                       19
Norway                          127                       18
Albania                         100                       18
Morocco                         436                       17
Austria                         102                       17
Sri Lanka                       238                       17
Uruguay                         372                       17
U. S. Virgin Islands            78                        17
Cape Verde                      408                       15
Uganda                          457                       15
Sierra Leone                    447                       15
Eritrea                         417                       15
Antigua and Barbuda             321                       13
Grenada                         330                       13
Bermuda                         300                       13
Bolivia                         361                       13
Sudan                           451                       13
Belgium                         103                       13
Croatia                         151                       12
Macedonia                       152                       12
Moldova                         162                       12
Dominica                        328                       11
Paraguay                        369                       11
Czech Republic                  148                       11
Finland                         108                       10
Bahamas                         323                       10
Lithuania                       157                       10
Kuwait                          222                       10
Fiji                            508                        9
Algeria                         400                        9
St. Vincent and the Grenadines  340                        9
Americas, not specified         399                        9
Belize                          310                        9
South America, not specified    374                        7
St. Lucia                       339                        7
Barbados                        324                        6
Tonga                           523                        6
Slovakia                        149                        6
Denmark                         106                        6
Singapore                       236                        6
Senegal                         444                        6
Samoa                           527                        6
Latvia                          156                        6
Zimbabwe                        461                        6
Georgia                         161                        5
Azerbaijan                      159                        3
St. Kitts--Nevis                338                        3
Czechoslovakia                  105                        3
Tanzania                        453                        2
Northern Ireland                142                        2
Name: CountryOfBirthCode, dtype: int64

In [196]:
# Problem 4.3 - Integrating Country of Birth Data
# What proportion of the interviewees from the "New York-Northern New Jersey-Long Island, NY-NJ-PA" metropolitan area have \
# a country of birth that is not the United States? For this computation, don't include people from this metropolitan area \ 
# who have a missing country of birth
#my_fil = (CPS["MetroArea"] == 'New York-Northern New Jersey-Long Island, NY-NJ-PA')
CPS[(CPS["MetroArea"] == 'New York-Northern New Jersey-Long Island, NY-NJ-PA')]["Country"].value_counts(normalize=True)

United States                     0.691340
Dominican Republic                0.033494
China                             0.019430
India                             0.017765
Puerto Rico                       0.017580
Ecuador                           0.014619
Jamaica                           0.013509
Guyana                            0.012768
Mexico                            0.012583
El Salvador                       0.008512
Haiti                             0.008327
Columbia                          0.008142
Russia                            0.007957
Philippines                       0.007587
Poland                            0.007217
Italy                             0.007032
Ukraine                           0.005922
Peru                              0.005551
Korea                             0.005366
Trinidad and Tobago               0.004996
Ghana                             0.003886
Portugal                          0.003516
Elsewhere                         0.003331
Germany                           0.002961
Bangladesh                        0.002961
Cuba                              0.002961
Nigeria                           0.002406
Iran                              0.002221
Greece                            0.002221
Guatemala                         0.002221
Israel                            0.002221
Turkey                            0.002221
Pakistan                          0.002036
Grenada                           0.002036
Nepal                             0.002036
Uzbekistan                        0.002036
Chile                             0.002036
South Korea                       0.001850
Africa, not specified             0.001850
Egypt                             0.001665
Canada                            0.001665
Hong Kong                         0.001480
Brazil                            0.001295
Japan                             0.001295
Jordan                            0.001295
Taiwan                            0.001295
Argentina                         0.001295
Europe, not specified             0.001295
France                            0.001110
United Kingdom                    0.001110
Ireland                           0.001110
Vietnam                           0.001110
Uruguay                           0.001110
Antigua and Barbuda               0.001110
Costa Rica                        0.001110
Spain                             0.000925
USSR                              0.000925
Honduras                          0.000925
Hungary                           0.000925
Paraguay                          0.000925
Australia                         0.000925
Kenya                             0.000925
Venezuela                         0.000925
Nicaragua                         0.000740
Senegal                           0.000740
Morocco                           0.000740
Myanmar (Burma)                   0.000740
Belarus                           0.000740
Moldova                           0.000740
Dominica                          0.000555
Serbia                            0.000555
Malaysia                          0.000555
England                           0.000555
Netherlands                       0.000555
West Indies, not specified        0.000555
Yemen                             0.000555
Macedonia                         0.000370
Romania                           0.000370
Bermuda                           0.000370
Sri Lanka                         0.000370
Panama                            0.000370
Yugoslavia                        0.000370
Lebanon                           0.000370
Liberia                           0.000370
Sweden                            0.000370
Croatia                           0.000370
Asia, not specified               0.000370
St. Vincent and the Grenadines    0.000370
Ethiopia                          0.000185
Saudi Arabia                      0.000185
Austria                           0.000185
Barbados                          0.000185
South America, not specified      0.000185
Americas, not specified           0.000185
St. Kitts--Nevis                  0.000185
U. S. Virgin Islands              0.000185
Norway                            0.000185
Finland                           0.000185
Bolivia                           0.000185
Syria                             0.000185
South Africa                      0.000185
Armenia                           0.000185
New Zealand                       0.000185
Name: Country, dtype: float64

In [200]:
# Problem 4.4 - Integrating Country of Birth Data
# Which metropolitan area has the largest number (note -- not proportion) of interviewees with a country of birth in India? 
CPS[CPS["Country"] == "India"]["MetroArea"].value_counts()

New York-Northern New Jersey-Long Island, NY-NJ-PA    96
Washington-Arlington-Alexandria, DC-VA-MD-WV          50
Philadelphia-Camden-Wilmington, PA-NJ-DE              32
Chicago-Naperville-Joliet, IN-IN-WI                   31
Detroit-Warren-Livonia, MI                            30
Atlanta-Sandy Springs-Marietta, GA                    27
San Francisco-Oakland-Fremont, CA                     27
Hartford-West Hartford-East Hartford, CT              26
Minneapolis-St Paul-Bloomington, MN-WI                23
San Jose-Sunnyvale-Santa Clara, CA                    19
Los Angeles-Long Beach-Santa Ana, CA                  19
Dallas-Fort Worth-Arlington, TX                       18
Baltimore-Towson, MD                                  16
Fresno, CA                                            16
Pittsburgh, PA                                        16
Houston-Baytown-Sugar Land, TX                        15
Providence-Fall River-Warwick, MA-RI                  14
Milwaukee-Waukesha-West Allis, WI                     12
Bridgeport-Stamford-Norwalk, CT                       12
Kansas City, MO-KS                                    11
Boston-Cambridge-Quincy, MA-NH                        11
Honolulu, HI                                           9
Sacramento-Arden-Arcade-Roseville, CA                  8
Fayetteville-Springdale-Rogers, AR-MO                  8
Tampa-St. Petersburg-Clearwater, FL                    7
Little Rock-North Little Rock, AR                      6
Des Moines, IA                                         6
Austin-Round Rock, TX                                  6
Portland-Vancouver-Beaverton, OR-WA                    6
New Haven, CT                                          6
Brownsville-Harlingen, TX                              6
Warner Robins, GA                                      6
Seattle-Tacoma-Bellevue, WA                            5
Orlando, FL                                            5
Omaha-Council Bluffs, NE-IA                            4
Trenton-Ewing, NJ                                      4
Peoria, IL                                             4
Tulsa, OK                                              4
Charlotte-Gastonia-Concord, NC-SC                      4
Rochester-Dover, NH-ME                                 4
San Diego-Carlsbad-San Marcos, CA                      4
Indianapolis, IN                                       4
Visalia-Porterville, CA                                3
Reno-Sparks, NV                                        3
Albuquerque, NM                                        3
Madison, WI                                            3
Norwich-New London, CT-RI                              3
Iowa City, IA                                          3
Bakersfield, CA                                        2
Nashville-Davidson-Murfreesboro, TN                    2
Springfield, IL                                        2
Fort Wayne, IN                                         2
Atlantic City, NJ                                      2
Phoenix-Mesa-Scottsdale, AZ                            2
Rochester, NY                                          2
Miami-Fort Lauderdale-Miami Beach, FL                  2
Memphis, TN-MS-AR                                      2
Salt Lake City, UT                                     2
Charleston-North Charleston, SC                        2
Winston-Salem, NC                                      2
Ogden-Clearfield, UT                                   2
Deltona-Daytona Beach-Ormond Beach, FL                 2
Cleveland-Elyria-Mentor, OH                            2
Oklahoma City, OK                                      2
Birmingham-Hoover, AL                                  2
Burlington-South Burlington, VT                        2
Las Vegas-Paradise, NV                                 2
Oxnard-Thousand Oaks-Ventura, CA                       2
Naples-Marco Island, FL                                1
Harrisburg-Carlisle, PA                                1
Provo-Orem, UT                                         1
New Orleans-Metairie-Kenner, LA                        1
Jacksonville, FL                                       1
Boise City-Nampa, ID                                   1
Bloomington-Normal IL                                  1
Columbia, SC                                           1
Tucson, AZ                                             1
Olympia, WA                                            1
Syracuse, NY                                           1
Greenville, SC                                         1
Anderson, SC                                           1
Lawrence, KS                                           1
Cincinnati-Middletown, OH-KY-IN                        1
Name: MetroArea, dtype: int64

In [202]:
# Which metropolitan area has the largest number (note -- not proportion) of interviewees with a country of birth in Brazil?
CPS[CPS["Country"] == "Brazil"]["MetroArea"].value_counts()

Boston-Cambridge-Quincy, MA-NH                        18
Miami-Fort Lauderdale-Miami Beach, FL                 16
Los Angeles-Long Beach-Santa Ana, CA                   9
Washington-Arlington-Alexandria, DC-VA-MD-WV           8
New York-Northern New Jersey-Long Island, NY-NJ-PA     7
Bridgeport-Stamford-Norwalk, CT                        7
San Francisco-Oakland-Fremont, CA                      6
Danbury, CT                                            5
Davenport-Moline-Rock Island, IA-IL                    4
Philadelphia-Camden-Wilmington, PA-NJ-DE               4
Providence-Fall River-Warwick, MA-RI                   3
Canton-Massillon, OH                                   3
Phoenix-Mesa-Scottsdale, AZ                            3
Salt Lake City, UT                                     3
Sacramento-Arden-Arcade-Roseville, CA                  2
Charlotte-Gastonia-Concord, NC-SC                      2
Orlando, FL                                            2
Barnstable Town, MA                                    2
Columbia, SC                                           2
Jacksonville, FL                                       2
Chicago-Naperville-Joliet, IN-IN-WI                    2
Dallas-Fort Worth-Arlington, TX                        2
Monroe, LA                                             1
Montgomery, AL                                         1
Trenton-Ewing, NJ                                      1
Cape Coral-Fort Myers, FL                              1
Chico, CA                                              1
Denver-Aurora, CO                                      1
Salem, OR                                              1
Cincinnati-Middletown, OH-KY-IN                        1
Hartford-West Hartford-East Hartford, CT               1
Waterbury, CT                                          1
Wichita, KS                                            1
Kansas City, MO-KS                                     1
Rochester, NY                                          1
San Jose-Sunnyvale-Santa Clara, CA                     1
Albuquerque, NM                                        1
Seattle-Tacoma-Bellevue, WA                            1
Tampa-St. Petersburg-Clearwater, FL                    1
Pensacola-Ferry Pass-Brent, FL                         1
Louisville, KY-IN                                      1
Racine, WI                                             1
Oxnard-Thousand Oaks-Ventura, CA                       1
Virginia Beach-Norfolk-Newport News, VA-NC             1
Leominster-Fitchburg-Gardner, MA                       1
Bremerton-Silverdale, WA                               1
Atlanta-Sandy Springs-Marietta, GA                     1
Minneapolis-St Paul-Bloomington, MN-WI                 1
Akron, OH                                              1
Name: MetroArea, dtype: int64

In [203]:
# Which metropolitan area has the largest number (note -- not proportion) of interviewees with a country of birth in Somalia?
CPS[CPS["Country"] == "Somalia"]["MetroArea"].value_counts()

Minneapolis-St Paul-Bloomington, MN-WI    17
St. Cloud, MN                              7
Seattle-Tacoma-Bellevue, WA                7
Phoenix-Mesa-Scottsdale, AZ                7
Fargo, ND-MN                               5
Columbus, OH                               5
Burlington-South Burlington, VT            3
Portland-South Portland, ME                3
Portland-Vancouver-Beaverton, OR-WA        3
Sioux Falls, SD                            2
Houston-Baytown-Sugar Land, TX             2
Dayton, OH                                 1
Richmond, VA                               1
Name: MetroArea, dtype: int64